doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='keywords', content='insistx,王筱,个人,博客,码农,情感，游戏')
		meta(name='description', content='王筱的个人网站，找一个目标坚持做下去，insistx！')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		script(type='text/javascript', src='http://www.qq.com/404/search_children.js', charset='utf-8')

