doctype html
html
	head
		title= title
		meta(charset='UTF-8')
		meta(name='keywords', content='insistx,王筱,个人,博客,码农,情感，游戏')
		meta(name='description', content='王筱的个人网站，找一个目标坚持做下去，insistx！')
		meta(property="wb:webmaster", content="df98ab756cbde819")
		meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1,maximum-scale=1")
		link(rel='stylesheet', href='/stylesheets/tomato.css')
		script(type="text/javascript", src="/javascripts/hammer.min.js")
		script(type="text/javascript", src="/javascripts/tomatoClock.js")
	body
		block    content


