doctype html
html
	head
		title= title
		meta(charset='UTF-8')
		meta(name='keywords', content='insistx,王筱,个人,博客,码农,情感，游戏')
		meta(name='description', content='王筱的个人网站，找一个目标坚持做下去，insistx！')
		meta(property="wb:webmaster", content="df98ab756cbde819")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block    content
		script(type="text/javascript").
			var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4226f875e12b8d176dd0d45c5e28f3a4' type='text/javascript'%3E%3C/script%3E"));


