extends layout2
block style
	link(rel='stylesheet',href='/stylesheets/onepage-scroll.css')
	link(rel='stylesheet',href='/stylesheets/animate.min.css')

block content
	div.wrapper
		div.main
			section.page
				div.page_container
					h3.title(data-action='animated bounceIn') 弹入动画系列
			section.page
				div.page_container
					h3.title.translate-pre(data-action='animated bounceInRight') 从右侧弹入动画
					h3.title.translate-pre(data-action="animated bounceInLeft") 从左侧弹入动画
			section.page
				div.page_container
					h3.title.translate-pre(data-action='animated bounceInUp') 从上侧弹入动画
					h3.title.translate-pre(data-action="animated bounceInDown") 从下侧弹入动画
			section.page
				div.page_container
					h3.title.flip-pre(data-action='animated flip') 空翻动画系列
			section.page
				div.page_container
					h3.title.flip-pre(data-action='animated flipInY') 垂直方向翻转动画
					h3.title.flip-pre(data-action='animated flipInX') 水平方向翻转动画
			section.page
				div.page_container
					h3.title.translate-pre(data-action='animated lightSpeedIn') 刹车样式进入
block bodyscript
	script(src='/javascripts/zepto.js')
	script(src='/javascripts/slide/fx.js')
	script(src='/javascripts/slide/zepto.onepagescroll.js')
	script(type='text/javascript').
		Zepto(function($){
			var _containers = $('.page_container');
			var _container, _els;
			//_container = $('.page_container')[0];
			//$('.page-img', _container).addClass('animated bounceInRight');
			//$('.title', _container).addClass('animated bounceInLeft');
			aniCB(1);

			function aniCB(index, next_el){
					_container = _containers[index-1]
					_els = $("[data-action]", _container);
					$.each(_els, function(index ,item){
						$(item).addClass($(item).data("action"));
					})
			}


			$(".main").onePageScroll({
				loop: false,
				animationTime: 800,
				afterMove: aniCB
			});

		})

