extends layout2

block content
	section.m-bar
		section.baritem 团课
		section.baritem 私教
		section.baritem 休息
	section#calendar.m-calendar.animate
		section.m-daylst
			section.pane.pane1
			section.pane.pane2
			section.pane.pane3
			section.pane.pane4
	section#content.m-content.animate
		h2 这里是要展示的内容
