extends layout2

block content
	section.m-bar
		section.baritem 团课
		section.baritem 私教
		section.baritem 休息
	section#calendar.m-calendar
		ul.m-daylst
			li.pane.pane1
				h2	第一个页面
			li.pane.pane2
				h2 第二个页面
			li.pane.pane3
				h2 第三个页面
			li.pane.pane4
				h2 第四个页面
			li.pane.pane5
				h2 第五个页面
	section#content.m-content
